// WiFi SSID and Password
#define WIFI_SSID "ssid"
#define WIFI_PASSWORD "password"

// Firebase Database URL
#define DATABASE_URL "https://<DATABASE_NAME>.firebaseio.com"
#define API_KEY "api_key"

// Firebase Authentication
#define USER_EMAIL "your.email@place.thing"
#define USER_PASSWORD "your_password"

// Firebase Node
#define READOUTS_NODE "/readouts/FB1"